[submodule "Miscellaneous/ntlm_theft"]
	path = Miscellaneous/ntlm_theft
	url = https://github.com/Greenwolf/ntlm_theft.git
[submodule "Miscellaneous/gdb_commands"]
	path = Miscellaneous/gdb_commands
	url = https://github.com/philwantsfish/gdb_commands.git
[submodule "Miscellaneous/git-dumper"]
	path = Miscellaneous/git-dumper
	url = https://github.com/arthaud/git-dumper.git
[submodule "Tools/joomscan"]
	path = Tools/joomscan
	url = https://github.com/rezasp/joomscan.git
[submodule "Tools/CrackMapExec"]
	path = Tools/CrackMapExec
	url = https://github.com/byt3bl33d3r/CrackMapExec.git
[submodule "Tools/evil-winrm"]
	path = Tools/evil-winrm
	url = https://github.com/Hackplayers/evil-winrm.git
[submodule "Tools/impacket"]
	path = Tools/impacket
	url = https://github.com/fortra/impacket.git
[submodule "Enumeration/dirsearch"]
	path = Enumeration/dirsearch
	url = https://github.com/maurosoria/dirsearch.git
[submodule "ReverseShells/pentestmonkey"]
	path = ReverseShells/pentestmonkey
	url = https://github.com/pentestmonkey/php-reverse-shell.git
[submodule "ReverseShells/demontime"]
	path = ReverseShells/demontime
	url = https://github.com/sscoconutree/demontime.git
[submodule "ReverseShells/JWT_Forward_Shell"]
	path = ReverseShells/JWT_Forward_Shell
	url = https://github.com/Xyan1d3/JWT_Forward_Shell.git
[submodule "ReverseShells/forward-shell"]
	path = ReverseShells/forward-shell
	url = https://github.com/IppSec/forward-shell.git
[submodule "AD/ntlm_theft"]
	path = AD/ntlm_theft
	url = https://github.com/Greenwolf/ntlm_theft.git
[submodule "AD/targetedKerberoast"]
	path = AD/targetedKerberoast
	url = https://github.com/ShutdownRepo/targetedKerberoast.git
[submodule "AD/username_generator"]
	path = AD/username_generator
	url = https://github.com/shroudri/username_generator.git
[submodule "AD/pywhisker"]
	path = AD/pywhisker
	url = https://github.com/ShutdownRepo/pywhisker.git
[submodule "AD/Powermad"]
	path = AD/Powermad
	url = https://github.com/Kevin-Robertson/Powermad.git
[submodule "AD/PKINITtools"]
	path = AD/PKINITtools
	url = https://github.com/dirkjanm/PKINITtools.git
